
 @font-face {
    font-family: 'Noto Sans Lao UI';
    src: url('NotoSansLao-Regular.ttf');
    font-weight: normal;
  }
  @font-face {
    font-family: 'num';
    src: url('NotoSansLinearB-Regular.ttf');
    font-weight: normal;
  }
 
  
  